config/n8n/workflows/Add New Crucible Challenge.json
{
  "name": "Add New Crucible Challenge",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Create New Crucible Challenge",
        "formDescription": "Insert the necessary information below to create a new Crucible challenge.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Challenge Name",
              "placeholder": "Metasploitable 2",
              "requiredField": true
            },
            {
              "fieldLabel": "Challenge Key",
              "placeholder": "metasploitable2-basic",
              "requiredField": true
            },
            {
              "fieldLabel": "Challenge Zone Abbreviation (must be 8 alphanumeric characters)",
              "placeholder": "metaspt2",
              "requiredField": true
            },
            {
              "fieldLabel": "Challenge Description",
              "fieldType": "textarea",
              "placeholder": "Vulnerable Linux VM…",
              "requiredField": true
            },
            {
              "fieldLabel": "Challenge Type",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "single_vm"
                  },
                  {
                    "option": "multi_vm"
                  },
                  {
                    "option": "koth"
                  },
                  {
                    "option": "red_vs_blue"
                  },
                  {
                    "option": "other"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Challenge Difficulty",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Easy"
                  },
                  {
                    "option": "Medium"
                  },
                  {
                    "option": "Hard"
                  },
                  {
                    "option": "Expert"
                  },
                  {
                    "option": "Impossible"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Primary VM Template Key",
              "placeholder": " metasploitable2-template",
              "requiredField": true
            },
            {
              "fieldLabel": "Max Runtime (in minutes)",
              "fieldType": "number",
              "placeholder": "180",
              "requiredField": true
            },
            {
              "fieldLabel": "Max Concurrent Lanes",
              "fieldType": "number",
              "placeholder": "100",
              "requiredField": true
            },
            {
              "fieldLabel": "Include User-Level Flag",
              "fieldType": "checkbox",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Yes"
                  },
                  {
                    "option": "No"
                  }
                ]
              },
              "limitSelection": "exact",
              "requiredField": true
            },
            {
              "fieldLabel": "Include Root-Level Flag",
              "fieldType": "checkbox",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Yes"
                  },
                  {
                    "option": "No"
                  }
                ]
              },
              "limitSelection": "exact",
              "requiredField": true
            }
          ]
        },
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        0,
        0
      ],
      "id": "0b1cdf98-241d-43fe-944f-8c354f4e4d3f",
      "name": "On form submission",
      "webhookId": "b76bc7a5-b37d-4551-999b-d0edaf5e6869"
    },
    {
      "parameters": {
        "jsCode": "// Map human difficulty strings → numeric difficulty\nconst difficultyMap = {\n  easy: 1,\n  medium: 2,\n  hard: 3,\n  expert: 4,\n  impossible: 5,\n};\n\nconst out = [];\n\nfor (const item of $input.all()) {\n  const data = item.json;\n\n  // --- Difficulty mapping ---\n  const difficultyStr = (data[\"Challenge Difficulty\"] || \"\").toLowerCase();\n  const difficulty = difficultyMap[difficultyStr] ?? null;\n\n  // --- Checkboxes come in as arrays like [\"Yes\"] or [\"No\"] ---\n  const includeUserFlag =\n    Array.isArray(data[\"Include User-Level Flag\"]) &&\n    data[\"Include User-Level Flag\"][0] === \"Yes\";\n\n  const includeRootFlag =\n    Array.isArray(data[\"Include Root-Level Flag\"]) &&\n    data[\"Include Root-Level Flag\"][0] === \"Yes\";\n\n  // --- Build flags array (no actual flag *values* yet, just scoring model) ---\n  const flags = [];\n  if (includeUserFlag) {\n    flags.push({\n      key: \"user_flag\",\n      description: \"Obtain user-level flag on target\",\n      points: 50,\n    });\n  }\n  if (includeRootFlag) {\n    flags.push({\n      key: \"root_flag\",\n      description: \"Obtain root-level / SYSTEM flag on target\",\n      points: 100,\n    });\n  }\n\n  // --- Zone info from form + validation result ---\n  const zoneAbbrev = data[\"Challenge Zone Abbreviation (must be 8 alphanumeric characters)\"] ?? null;\n  const zoneIsValid = data[\"is_valid_8char_alnum\"] === true;\n\n  // --- Minimal spec: VMs + flags + limits (no network) ---\n  const spec = {\n    // added block\n    zone: {\n      abbrev: zoneAbbrev,\n      is_valid: zoneIsValid,\n    },\n    vms: [\n      {\n        template_key: data[\"Primary VM Template Key\"],\n        role: \"primary\",\n        hostname: data[\"Challenge Key\"] + \".local\",\n        tags: [data[\"Challenge Type\"], data[\"Primary VM Template Key\"]],\n      },\n    ],\n    flags,\n    limits: {\n      max_runtime_minutes: Number(data[\"Max Runtime (in minutes)\"] ?? 0),\n      max_concurrent_lanes: Number(data[\"Max Concurrent Lanes\"] ?? 0),\n    },\n  };\n\n  // --- Metadata: free-form, safe for future UI/filtering ---\n  const metadata = {\n    tags: [data[\"Challenge Type\"]],\n    form_submitted_at: data[\"submittedAt\"] || null,\n    form_mode: data[\"formMode\"] || null,\n    source: \"n8n_admin_form\",\n  };\n\n  out.push({\n    json: {\n      challenge_key: data[\"Challenge Key\"],\n      name: data[\"Challenge Name\"],\n      description: data[\"Challenge Description\"],\n      challenge_type: data[\"Challenge Type\"], // must match your enum\n      difficulty,\n      module_key: \"crucible\",\n      status: \"active\",\n      // Stringify here if your Postgres node does `$7::jsonb`\n      spec: JSON.stringify(spec),\n      metadata: JSON.stringify(metadata),\n    },\n  });\n}\n\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ],
      "id": "49f4dfd5-f6fe-4517-a1a8-84ac726826f8",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "crucible_challenge",
          "mode": "list",
          "cachedResultName": "crucible_challenge"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "difficulty": "={{ $json.difficulty }}",
            "challenge_key": "={{ $json.challenge_key }}",
            "name": "={{ $json.name }}",
            "description": "={{ $json.description }}",
            "challenge_type": "={{ $json.challenge_type }}",
            "module_key": "={{ $json.module_key }}",
            "spec": "={{ $json.spec }}",
            "metadata": "={{ $json.metadata }}",
            "status": "={{ $json.status }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "challenge_id",
              "displayName": "challenge_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "challenge_key",
              "displayName": "challenge_key",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "challenge_type",
              "displayName": "challenge_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "other",
                  "value": "other"
                },
                {
                  "name": "red_vs_blue",
                  "value": "red_vs_blue"
                },
                {
                  "name": "koth",
                  "value": "koth"
                },
                {
                  "name": "multi_vm",
                  "value": "multi_vm"
                },
                {
                  "name": "single_vm",
                  "value": "single_vm"
                }
              ]
            },
            {
              "id": "difficulty",
              "displayName": "difficulty",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "module_key",
              "displayName": "module_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "spec",
              "displayName": "spec",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "metadata",
              "displayName": "metadata",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "archived",
                  "value": "archived"
                },
                {
                  "name": "retired",
                  "value": "retired"
                },
                {
                  "name": "active",
                  "value": "active"
                },
                {
                  "name": "draft",
                  "value": "draft"
                }
              ]
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        672,
        0
      ],
      "id": "9faef63c-d9d5-443f-aa17-b959442a3f6b",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "VFnVW5xU3IWaGUyr",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map((item) => {\n  const value =\n    item.json[\"Challenge Zone Abbreviation (must be 8 alphanumeric characters)\"];\n\n  item.json.is_valid_8char_alnum =\n    typeof value === 'string' &&\n    /^[A-Za-z1-9][A-Za-z0-9]{7}$/.test(value);\n\n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ],
      "id": "2af2f175-c38a-4044-bf5b-df03dde529fd",
      "name": "Check if challenge zone is valid"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1248,
        0
      ],
      "id": "a3598745-ed77-4e40-a90d-566afb239313",
      "name": "Merge1"
    },
    {
      "parameters": {
        "url": "=https://100.100.10.10:8006/api2/json/cluster/sdn/zones",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        960,
        176
      ],
      "id": "496ffbe7-d7aa-404c-9af9-31b7f0499e84",
      "name": "Get Zones"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3c1fecff-26c5-4464-b8bd-f0d397f7e7a8",
              "leftValue": "={{ $json.data.some(z => z.zone === $json.spec.zone.abbrev) }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1456,
        0
      ],
      "id": "772cb3bd-0868-47bd-aaf0-588933bc50fc",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://100.100.10.10:8006/api2/json/cluster/sdn/zones",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "zone",
              "value": "={{ $item(\"0\").$node[\"Insert rows in a table\"].json[\"spec\"][\"zone\"][\"abbrev\"] }}"
            },
            {
              "name": "type",
              "value": "vxlan"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2032,
        16
      ],
      "id": "7cd9bdbe-94df-440e-8f7d-ddfc78126459",
      "name": "Create SDN zone"
    },
    {
      "parameters": {
        "url": "https://100.100.10.10:8006/api2/json/nodes",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1344,
        304
      ],
      "id": "a26f31a4-11a4-499f-896f-1c530b7280ab",
      "name": "GET node details"
    },
    {
      "parameters": {
        "url": "=https://100.100.10.10:8006/api2/json/nodes/{{$json.node}}/network",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2016,
        304
      ],
      "id": "b614b5d1-61bf-4401-bb37-0202f5a9f55d",
      "name": "GET node networking details"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1552,
        304
      ],
      "id": "d3b4518b-bb8a-406f-80a4-5f3c32f6bcde",
      "name": "Split nodes"
    },
    {
      "parameters": {
        "fieldToSplitOut": "node",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1760,
        304
      ],
      "id": "bf64a7a6-c7f5-415d-950e-97a5bf9f5e7b",
      "name": "Split node names"
    },
    {
      "parameters": {
        "jsCode": "const UNDERLAY_IFACE = 'vmbr0.10'; // <-- choose the underlay interface name\n\nconst pairs = [];\n\nfor (const item of items) {\n  const node = item.json.node || item.json.nodeName || item.json.name; // adjust if your node name key differs\n  const ifaces = item.json.data || [];\n\n  if (!node) throw new Error('Missing node name on item (need item.json.node)');\n\n  const underlay = ifaces.find(i => i.iface === UNDERLAY_IFACE && typeof i.address === 'string');\n\n  if (!underlay) {\n    throw new Error(`No underlay IP found for ${node} on iface ${UNDERLAY_IFACE}`);\n  }\n\n  pairs.push({ name: node, ip: underlay.address });\n}\n\n// stable ordering\npairs.sort((a, b) => a.name.localeCompare(b.name));\n\nreturn [{\n  json: {\n    cluster_nodes: pairs,\n    nodes: pairs.map(p => p.name).join(','),\n    peers: pairs.map(p => p.ip).join(','),\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2224,
        304
      ],
      "id": "06e42429-117d-43e9-9c3b-a97bbe3bb289",
      "name": "Code in JavaScript1"
    }
  ],
  "pinData": {
    "On form submission": [
      {
        "json": {
          "Challenge Name": "Metasploitable 2",
          "Challenge Key": "metasploitable2-basic",
          "Challenge Zone Abbreviation (must be 8 alphanumeric characters)": "metaspl2",
          "Challenge Description": "A test environment provides a secure space for performing penetration testing and conducting security research.",
          "Challenge Type": "single_vm",
          "Challenge Difficulty": "Medium",
          "Primary VM Template Key": "metasploitable2-template",
          "Max Runtime (in minutes)": 180,
          "Max Concurrent Lanes": 100,
          "Include User-Level Flag": [
            "No"
          ],
          "Include Root-Level Flag": [
            "No"
          ],
          "submittedAt": "2026-01-07T03:47:12.559-07:00",
          "formMode": "test"
        }
      }
    ]
  },
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Check if challenge zone is valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if challenge zone is valid": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Zones": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Zones",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET node details": {
      "main": [
        [
          {
            "node": "Split nodes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split nodes": {
      "main": [
        [
          {
            "node": "Split node names",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split node names": {
      "main": [
        [
          {
            "node": "GET node networking details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET node networking details": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "180ee580-2c14-439c-8960-a85d5d32abe4",
  "meta": {
    "instanceId": "8bfcbc86985d5ca21643a7752bbd06bdbdf7e70892c47550807b83814d7abe58"
  },
  "id": "BX9lsFb5GkzPIv2I",
  "tags": [
    {
      "updatedAt": "2026-04-11T09:14:05.084Z",
      "createdAt": "2026-04-11T09:14:05.084Z",
      "id": "w4dmLd8w3tCLBCO8",
      "name": "Crucible"
    }
  ]
}