config/n8n/workflows/Deploy Metasploitable 2.json
{
  "name": "Deploy Metasploitable 2",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Launch Vulnerable VM",
        "formDescription": "After choosing your VM, please wait until this page redirects to view your connection details.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "VM Options",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Metasploitable 2"
                  },
                  {
                    "option": "OWASP Juice Shop"
                  },
                  {
                    "option": "G.O.A.D"
                  }
                ]
              }
            }
          ]
        },
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -896,
        96
      ],
      "id": "bc91a4fd-b299-4649-be7b-45a697054c23",
      "name": "On form submission",
      "webhookId": "f59aa75b-9549-490a-99ef-285447af86a5"
    },
    {
      "parameters": {
        "command": "VMID=$(pvesh get /cluster/nextid) && qm clone 10000 \"$VMID\" --name \"student-vm-$VMID\" --full 1 && echo \"$VMID\""
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        -448,
        96
      ],
      "id": "58c39e0b-cc44-428d-84a2-8e3879a73db3",
      "name": "Execute a command"
    },
    {
      "parameters": {
        "jsCode": "const choice = $json.range;  // \"metasploitable2\" | \"juiceshop\" | \"goad\"\nconst items = [];\n\n// Example template IDs – replace with your actual Proxmox template IDs\nconst TEMPLATES = {\n  metasploitable2: 10000,\n  juiceshop: 10001,\n  goad_dc: 20000,\n  goad_member: 20001,\n  goad_client: 20002,\n};\n\nif (choice === '$input.first().json[\"VM Options\"]') {\n  // Loop for Metasploitable 2 (e.g. 3 copies)\n  for (let i = 1; i <= 3; i++) {\n    items.push({\n      json: {\n        type: 'metasploitable2',\n        index: i,\n        templateId: TEMPLATES.metasploitable2,\n        name: `meta2-${i}`,\n      },\n    });\n  }\n\n} else if (choice === 'juiceshop') {\n  // Loop for OWASP Juice Shop (e.g. 1 copy)\n  for (let i = 1; i <= 1; i++) {\n    items.push({\n      json: {\n        type: 'juiceshop',\n        index: i,\n        templateId: TEMPLATES.juiceshop,\n        name: `juice-${i}`,\n      },\n    });\n  }\n\n} else if (choice === 'goad') {\n  // GOAD = different VMs/roles instead of simple count\n  const goadVms = [\n    { role: 'dc',      templateId: TEMPLATES.goad_dc,     name: 'goad-dc' },\n    { role: 'member',  templateId: TEMPLATES.goad_member, name: 'goad-member' },\n    { role: 'client',  templateId: TEMPLATES.goad_client, name: 'goad-client' },\n  ];\n\n  for (const vm of goadVms) {\n    items.push({\n      json: {\n        type: 'goad',\n        role: vm.role,\n        templateId: vm.templateId,\n        name: vm.name,\n      },\n    });\n  }\n\n} else {\n  // Fallback if somehow nothing matched\n  items.push({\n    json: {\n      type: 'unknown',\n      range: choice,\n    },\n  });\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -672,
        96
      ],
      "id": "a3457377-fe0c-4eb6-b641-214f90ed7433",
      "name": "Normalize form input"
    },
    {
      "parameters": {
        "jsCode": "// Combine all possible stdout fields\nconst output = $json.stdout || $json.data || \"\";\n\n// Match ALL integers in the output\nconst matches = output.match(/\\b\\d+\\b/g);\n\nif (!matches || matches.length === 0) {\n  return [{\n    json: {\n      error: \"No numbers found in output\",\n      raw: output,\n    },\n  }];\n}\n\n// Get the LAST number — this is the VMID\nconst vmid = parseInt(matches[matches.length - 1], 10);\n\nreturn [{\n  json: {\n    vmid,\n  },\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        96
      ],
      "id": "80876941-3554-47f2-a246-772b84bf0fe0",
      "name": "Extract VM ID"
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        224,
        0
      ],
      "id": "1e0024fb-d994-4df3-a926-044528bb3357",
      "name": "Wait",
      "webhookId": "9b988e10-f3d8-48dc-8fc3-564d938d8d9d"
    },
    {
      "parameters": {
        "command": "=qm start {{ $json.vmid }}"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "e2460706-1246-42bc-a6bd-e3e283c65fe1",
      "name": "Start VM"
    },
    {
      "parameters": {
        "command": "=qm config {{ $json.vmid }} | grep net0",
        "cwd": "/home"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        224,
        192
      ],
      "id": "db36ae6e-fe02-423e-80b1-06ff592ac674",
      "name": "Extract MAC Address"
    },
    {
      "parameters": {
        "jsCode": "// Get SSH output (stdout) from previous node\nconst output = $json.stdout || \"\";\n\n// Regex to capture MAC address after '=' and before ','\nconst macMatch = output.match(/=([A-Fa-f0-9:]{17})/);\n\nif (!macMatch) {\n  return [\n    {\n      json: {\n        error: \"MAC address not found in qm config output\",\n        raw: output,\n      },\n    },\n  ];\n}\n\nconst mac = macMatch[1].toUpperCase();\n\n// Return MAC formatted for next node\nreturn [\n  {\n    json: {\n      mac,\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        192
      ],
      "id": "3ba465a8-7722-4f70-9616-4a61bc054257",
      "name": "Santitize Output"
    },
    {
      "parameters": {
        "url": "https://100.100.0.1/api/dhcpv4/leases/search_lease",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        448,
        0
      ],
      "id": "e10c4b45-5879-4e39-953a-f5026c9c93c0",
      "name": "HTTP Request"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        672,
        96
      ],
      "id": "e8ceadb8-5ad4-42e6-a2de-404f0bdc99fe",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "Congratulations, your VM is ready!",
        "completionMessage": "=Your VM has been created and is now accessible at {{ $json.address }}",
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        1120,
        96
      ],
      "id": "9790e371-fa2d-4f86-ab66-614d9ff7604d",
      "name": "Return form",
      "webhookId": "5842faa7-124d-4988-9030-38af7d2c74c6"
    },
    {
      "parameters": {
        "jsCode": "// Get all incoming items\nconst items = $input.all();\n\nlet targetMac = null;\nlet leases = null;\n\n// Find the MAC and the DHCP rows in the inputs\nfor (const item of items) {\n  if (item.json.mac && !targetMac) {\n    targetMac = String(item.json.mac).trim().toLowerCase();\n  }\n  if (Array.isArray(item.json.rows) && !leases) {\n    leases = item.json.rows;\n  }\n}\n\nif (!targetMac || !leases) {\n  return [{\n    json: {\n      error: 'Missing MAC or DHCP rows in input',\n      input: items.map(i => i.json),\n    },\n  }];\n}\n\n// Find the lease whose mac matches targetMac\nconst lease = leases.find(l => String(l.mac || '').toLowerCase() === targetMac);\n\nif (!lease) {\n  return [{\n    json: {\n      error: `No lease found for MAC ${targetMac}`,\n      leasesChecked: leases.length,\n    },\n  }];\n}\n\n// Return the whole lease object as json\nreturn [{\n  json: lease,\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        96
      ],
      "id": "06754257-2439-4b7c-a784-17993344f3d3",
      "name": "Extract IP Address"
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Normalize form input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize form input": {
      "main": [
        [
          {
            "node": "Execute a command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a command": {
      "main": [
        [
          {
            "node": "Extract VM ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract VM ID": {
      "main": [
        [
          {
            "node": "Start VM",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract MAC Address",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start VM": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract MAC Address": {
      "main": [
        [
          {
            "node": "Santitize Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Santitize Output": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Extract IP Address",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract IP Address": {
      "main": [
        [
          {
            "node": "Return form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "00e64d0b-d9df-4155-a751-73ee184dec40",
  "meta": {
    "instanceId": "8bfcbc86985d5ca21643a7752bbd06bdbdf7e70892c47550807b83814d7abe58"
  },
  "id": "pG7KrbeJ89qYvH7q",
  "tags": [
    {
      "updatedAt": "2026-04-11T09:15:14.328Z",
      "createdAt": "2026-04-11T09:15:14.328Z",
      "id": "2mlNniCN9T1pYuZh",
      "name": "Archive"
    },
    {
      "updatedAt": "2026-04-11T09:14:05.084Z",
      "createdAt": "2026-04-11T09:14:05.084Z",
      "id": "w4dmLd8w3tCLBCO8",
      "name": "Crucible"
    }
  ]
}