config/n8n/workflows/Deploy Lane Gateway.json
{
  "name": "Deploy Lane Gateway",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1520,
        80
      ],
      "id": "06bd4d06-0d04-4f8d-a398-447be1f8335c",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "url": "=https://100.100.10.10:8006/api2/json/cluster/config/nodes",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1296,
        288
      ],
      "id": "bee97b9f-2278-402c-aa59-4f8bd5dc8310",
      "name": "Request available nodes"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1072,
        288
      ],
      "id": "79ee4ef0-72c9-4f71-81c1-2db29cdb07ac",
      "name": "Split Out"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "856ad757-bab1-4dbd-8ebf-500999c0a166",
              "name": "node_name",
              "value": "={{ $json.node || $json.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -848,
        288
      ],
      "id": "38556544-4795-4650-823e-f62bcdf87dc0",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "url": "=https://100.100.10.10:8006/api2/json/nodes/{{ $json.node_name }}/qemu",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -400,
        336
      ],
      "id": "594a56fb-7029-481c-afd7-3e3e0241496f",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -624,
        288
      ],
      "id": "7b124d44-a155-4871-a9ee-bbf51396cc93",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        48,
        512
      ],
      "id": "edfd6301-31e7-4b04-84f0-0d478303f781",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "errorMessage": "Unexpected error – Loop failure."
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -400,
        128
      ],
      "id": "c2921a26-a49f-4d6f-83e2-d21cde593248",
      "name": "Loop error"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "3448f80b-d3ff-4cdc-919e-88dee8ab720e",
              "leftValue": "={{ $json.data }}",
              "rightValue": "\"Alpine-Gateway-Template\"",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -176,
        336
      ],
      "id": "7deab620-b34b-4d95-9613-702586750466",
      "name": "If template_vmid is found",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        48,
        272
      ],
      "id": "2578bcde-541b-494b-aa7b-a1eb5234b82e",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "292ce95b-e20e-4e94-998c-090f5ecdf0ae",
              "leftValue": "={{ $json.name }}",
              "rightValue": "={{ $item(\"0\").$node[\"Query challenge\"].json[\"spec\"][\"vms\"][\"0\"][\"template_key\"] }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        272,
        272
      ],
      "id": "acb9dde6-5a44-4409-adc1-be1b6fb49b1d",
      "name": "Filter"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://100.100.10.10:8006/api2/json/nodes/{{ $json.best_node }}/lxc/{{ Number(`6${$json.vxlan_id}`) }}/config",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "net0",
              "value": "=name=wan0,bridge=vmbr0,ip=dhcp,tag=60"
            },
            {
              "name": "net1",
              "value": "=name=mgmt0,bridge=vmbr0,ip=dhcp,tag="
            },
            {
              "name": "net2",
              "value": "=name=lan0,bridge={{ $item(\"0\").$node[\"When Executed by Another Workflow\"].json[\"vnet_id\"] }},ip=dhcp"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        0,
        0
      ],
      "id": "2ac174e6-5d4f-435c-ad81-29fdbca04871",
      "name": "Attach network ports"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "best_node": "cyberhub-node-3",
          "best_node_score": 0.0055616823296030645,
          "lane_id": "5d3dee30-fdf1-4ea4-8e41-3b33db5c2ade",
          "event_id": null,
          "user_id": "7d0d81db-1fca-4641-b65f-181bb9d7c8d1",
          "name": "Metasploitable-2-Template",
          "status": "stopped",
          "vxlan_id": 14141649,
          "config": {},
          "created_at": "2025-12-26T17:20:39.238Z",
          "updated_at": "2025-12-26T17:20:39.238Z",
          "team_id": null,
          "lane_group_id": null,
          "challenge_id": "564f82a3-f2db-486c-8d5f-1620fe253ab3",
          "challenge_key": "metasploitable2-basic",
          "spec": {
            "vms": [
              {
                "role": "primary",
                "tags": [
                  "single_vm",
                  "Metasploitable-2-Template"
                ],
                "hostname": "metasploitable2-basic.local",
                "template_key": "Metasploitable-2-Template"
              }
            ],
            "flags": [],
            "limits": {
              "max_runtime_minutes": 180,
              "max_concurrent_lanes": 100
            }
          },
          "difficulty": 2,
          "module": "crucible",
          "subnet": "100.102.0.0/28",
          "gateway": "100.102.0.1",
          "uptime": 0,
          "maxdisk": 8589934592,
          "cpu": 0,
          "mem": 0,
          "template": 1,
          "vmid": 1600,
          "maxmem": 2147483648,
          "netin": 0,
          "cpus": 1,
          "disk": 0,
          "netout": 0,
          "vni": 14141649,
          "vnet_id": "bebebgej"
        }
      }
    ]
  },
  "connections": {
    "Request available nodes": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If template_vmid is found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Loop error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If template_vmid is found": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Request available nodes",
            "type": "main",
            "index": 0
          },
          {
            "node": "Attach network ports",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "c0b489a2-1e1e-4677-b399-51ecf52473ea",
  "meta": {
    "instanceId": "8bfcbc86985d5ca21643a7752bbd06bdbdf7e70892c47550807b83814d7abe58"
  },
  "id": "J4DB1VmX40w8YSim",
  "tags": [
    {
      "updatedAt": "2026-04-11T09:14:05.084Z",
      "createdAt": "2026-04-11T09:14:05.084Z",
      "id": "w4dmLd8w3tCLBCO8",
      "name": "Crucible"
    }
  ]
}