config/n8n/workflows/Deploy Crucible Lane.json
{
  "name": "Deploy Crucible Lane",
  "nodes": [
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "zLwgaMQVwnH1y8MJ",
          "mode": "list",
          "cachedResultUrl": "/workflow/zLwgaMQVwnH1y8MJ",
          "cachedResultName": "UUID to VXLAN"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "user_id": "={{ $json.user_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -224,
        96
      ],
      "id": "faa93243-4cca-4b5d-b6a7-bce0422e93e9",
      "name": "Call 'UUID to VXLAN'",
      "alwaysOutputData": false,
      "executeOnce": true,
      "notesInFlow": true
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1120,
        720
      ],
      "id": "0a9571b5-0e46-4bb4-ae2d-43aae48fffc3",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT EXISTS (\n  SELECT 1\n  FROM module\n  WHERE key = 'crucible'\n) AS is_installed;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1344,
        576
      ],
      "id": "c7ab7a38-eb36-46ce-9efd-abb89c92c952",
      "name": "Determine if Module is Installed",
      "credentials": {
        "postgres": {
          "id": "VFnVW5xU3IWaGUyr",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        224,
        368
      ],
      "id": "2b87a884-72b0-455f-a51d-0ae92e6dac56",
      "name": "Merge1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        896,
        384
      ],
      "id": "1252b4dd-c495-47bf-b2e8-e9933dd6fede",
      "name": "Merge2"
    },
    {
      "parameters": {
        "path": "6bcb6b80-01d9-41a4-86e5-c0747fef50db",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1568,
        864
      ],
      "id": "3615c0b4-b9bd-42f5-aea0-2b204020cb0a",
      "name": "Webhook",
      "webhookId": "6bcb6b80-01d9-41a4-86e5-c0747fef50db"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        448,
        48
      ],
      "id": "14e60cbb-0c1c-407c-b697-dde7f4e1c635",
      "name": "Merge3"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "pMEnvE2s18s5WntT",
          "mode": "list",
          "cachedResultUrl": "/workflow/pMEnvE2s18s5WntT",
          "cachedResultName": "Proxmox Cluster Detail Request"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        896,
        0
      ],
      "id": "83dcc8ce-a6a3-4e56-9519-f3206d998090",
      "name": "Call 'Proxmox Cluster Detail Request'"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1120,
        288
      ],
      "id": "31ece26f-d411-4899-8840-92ce02a2698c",
      "name": "Merge4"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://100.100.10.10:8006/api2/json/cluster/sdn",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2240,
        480
      ],
      "id": "0dea2e3d-87d9-4d1f-99fd-62bca3480dd8",
      "name": "Reload Proxmox SDN"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "SmTjDiDlvMulHuE3",
          "mode": "list",
          "cachedResultUrl": "/workflow/SmTjDiDlvMulHuE3",
          "cachedResultName": "Provision/Update Proxmox SDN VNet"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1536,
        448
      ],
      "id": "acd2ec45-a7f1-408e-89ea-6f61634e0045",
      "name": "Call 'Provision/Update Proxmox SDN VNet'",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "5fv7EhGFTnKPYLSM",
          "mode": "list",
          "cachedResultUrl": "/workflow/5fv7EhGFTnKPYLSM",
          "cachedResultName": "Provision/Update Proxmox SDN Subnet"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2016,
        480
      ],
      "id": "3c8703d2-3a7c-41d0-b9d2-03b75ba77fce",
      "name": "Call 'Provision/Update Proxmox SDN Subnet'",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "6e94d271-5b70-45c7-a8f3-146b9a307467",
              "leftValue": "={{ $json.is_installed }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "1c12a2fc-179c-45ac-85b7-f27bf01f9789",
              "leftValue": "={{ $json.user_id.length }}",
              "rightValue": "=36",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -448,
        864
      ],
      "id": "5f1a67c8-8f57-4f4c-84c2-bef0a478b97b",
      "name": "If template is installed/user_id is valid"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  challenge_id,\n  challenge_key,\n  name,\n  spec,\n  difficulty\nFROM crucible_challenge\nWHERE challenge_key = $1\n  AND status = 'active';",
        "options": {
          "queryReplacement": "={{$json[\"challenge_key\"]}}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -224,
        768
      ],
      "id": "1d1c6d59-27f7-44c6-bb9b-b5953720fac5",
      "name": "Query challenge",
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "VFnVW5xU3IWaGUyr",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT lane_id\nFROM public.crucible_lane\nWHERE vxlan_id = {{ $json.vxlan_id }}\nLIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        0,
        0
      ],
      "id": "d65312b1-9825-4edb-a6f6-e71ab49764bb",
      "name": "Query lane ID",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "VFnVW5xU3IWaGUyr",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b41ae05f-6168-44b9-9709-2160831adc22",
              "name": "module",
              "value": "crucible",
              "type": "string"
            },
            {
              "id": "5215d43f-912b-4a4e-a3f6-9d6393b8d817",
              "name": "subnet",
              "value": "100.102.0.0/28",
              "type": "string"
            },
            {
              "id": "d61f90a6-501a-4059-98fd-d60288ddd90b",
              "name": "gateway",
              "value": "100.102.0.1",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1344,
        288
      ],
      "id": "f3d91665-a19a-43f9-b253-9bb060d3f550",
      "name": "Add module name"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1792,
        480
      ],
      "id": "1a78e8d5-608d-48a0-a6e6-32796e204c4a",
      "name": "Merge5"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "N6XNdWnEX4Ot9YPW",
          "mode": "list",
          "cachedResultUrl": "/workflow/N6XNdWnEX4Ot9YPW",
          "cachedResultName": "User Validation"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "user_id": "={{ $json.user_id }}"
          },
          "matchingColumns": [
            "user_id"
          ],
          "schema": [
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1344,
        1056
      ],
      "id": "d7db355d-4aec-4bcc-a005-d4cd0dd6a93a",
      "name": "Call 'User Validation'"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "crucible_lane",
          "mode": "list",
          "cachedResultName": "crucible_lane"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "vxlan_id": "={{ $json.vxlan_id }}",
            "user_id": "={{ $json.user_id }}",
            "status": "deploying",
            "challenge_id": "={{ $json.challenge_id }}",
            "config": "{}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "lane_id",
              "displayName": "lane_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "event_id",
              "displayName": "event_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "deleted",
                  "value": "deleted"
                },
                {
                  "name": "error",
                  "value": "error"
                },
                {
                  "name": "suspended",
                  "value": "suspended"
                },
                {
                  "name": "active",
                  "value": "active"
                },
                {
                  "name": "deploying",
                  "value": "deploying"
                },
                {
                  "name": "pending",
                  "value": "pending"
                }
              ]
            },
            {
              "id": "vxlan_id",
              "displayName": "vxlan_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "config",
              "displayName": "config",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "team_id",
              "displayName": "team_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "lane_group_id",
              "displayName": "lane_group_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "challenge_id",
              "displayName": "challenge_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        672,
        48
      ],
      "id": "ae1d8bb4-3b6f-4be0-bdf7-299a3e47190f",
      "name": "Insert active lane",
      "credentials": {
        "postgres": {
          "id": "VFnVW5xU3IWaGUyr",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ce105039-0a25-49c3-86d2-ae06ef145adb",
              "leftValue": "={{ $json.exists }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "d28cffa3-85f8-4123-9f09-2b7548c4fe84",
              "leftValue": "={{ $json.active }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1120,
        1056
      ],
      "id": "205e3ae5-eed7-4044-8679-a7e9011e35a6",
      "name": "If"
    },
    {
      "parameters": {
        "errorMessage": "Template does not exist."
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -224,
        960
      ],
      "id": "e1c92a59-588c-4f6a-8a4e-d0ac9ffcea70",
      "name": "Template does not exist"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "911771aa-ce1f-422b-8700-e81c11adca37",
              "name": "exists",
              "value": "={{ $json.exists }}",
              "type": "boolean"
            },
            {
              "id": "527da936-1281-4999-9847-b21dcacc04f2",
              "name": "active",
              "value": "={{ $json.active }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -896,
        864
      ],
      "id": "0968bb32-5736-472d-be5d-122608756686",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -672,
        864
      ],
      "id": "454447ab-ee34-40c0-ade0-ec4c7da5f15e",
      "name": "Merge7"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4e16079a-5864-42a5-aba2-bfdf5ab26e79",
              "leftValue": "={{ $json.lane_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        224,
        0
      ],
      "id": "3fa9c569-81ae-4e19-9004-b2fe74fd31f1",
      "name": "If1"
    },
    {
      "parameters": {
        "errorMessage": "Error – Lane already active."
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        448,
        240
      ],
      "id": "b18c2ba4-e699-41a0-bd6a-12a1beed57a0",
      "name": "Lane already active"
    },
    {
      "parameters": {
        "url": "=https://100.100.10.10:8006/api2/json/cluster/config/nodes",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        0,
        768
      ],
      "id": "77b7cd84-535b-4ae0-b3e2-fbd3341ba4d1",
      "name": "Request available nodes"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        224,
        768
      ],
      "id": "95c3ad12-08bc-4999-8240-6545ec2b17dd",
      "name": "Split Out"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "856ad757-bab1-4dbd-8ebf-500999c0a166",
              "name": "node_name",
              "value": "={{ $json.node || $json.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        768
      ],
      "id": "719d5a76-455f-479b-b95b-8d474016e90c",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "url": "=https://100.100.10.10:8006/api2/json/nodes/{{ $json.node_name }}/qemu",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        896,
        816
      ],
      "id": "ef5060c3-2f00-4ef6-b595-f4568f731906",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        672,
        768
      ],
      "id": "c1e3878f-3ce4-4315-bd14-df6a2046a294",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1344,
        992
      ],
      "id": "ffc07140-5ef1-4185-b3bb-da54845e00d8",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "errorMessage": "Unexpected error – Loop failure."
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        896,
        608
      ],
      "id": "65816e61-ce31-4e7f-889f-daf56ab70c44",
      "name": "Loop error"
    },
    {
      "parameters": {
        "errorMessage": "Unexpected error – user does not exist."
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -896,
        1056
      ],
      "id": "be32bbcf-9cac-4541-be28-bad09d1fc3dc",
      "name": "User error validation"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "3448f80b-d3ff-4cdc-919e-88dee8ab720e",
              "leftValue": "={{ $json.data }}",
              "rightValue": "={{ $item(\"0\").$node[\"Query challenge\"].json[\"spec\"][\"vms\"][\"0\"][\"template_key\"] }}",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1120,
        816
      ],
      "id": "494d20a6-83a6-4184-aa4c-4efc223d9a23",
      "name": "If template_vmid is found",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1344,
        752
      ],
      "id": "7c3b1bd4-8e59-4ce2-98e2-115a5550d553",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "292ce95b-e20e-4e94-998c-090f5ecdf0ae",
              "leftValue": "={{ $json.name }}",
              "rightValue": "={{ $item(\"0\").$node[\"Query challenge\"].json[\"spec\"][\"vms\"][\"0\"][\"template_key\"] }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        1568,
        752
      ],
      "id": "909544d9-a111-459e-ab32-d050709356bc",
      "name": "Filter"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://100.100.10.10:8006/api2/json/nodes/{{ $item(\"0\").$node[\"Loop Over Items\"].json[\"node_name\"] }}/qemu/{{ $json.vmid }}/clone",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "newid",
              "value": "={{ Number(`6${$json.vxlan_id}`) }}"
            },
            {
              "name": "name",
              "value": "={{ $json.challenge_key }}"
            },
            {
              "name": "full",
              "value": "1"
            },
            {
              "name": "target",
              "value": "={{ $json.best_node }}"
            },
            {
              "name": "description",
              "value": "=Challenge: {{ $json.challenge_key }}\nUser ID: {{ $json.user_id }}\nLane ID: {{ $json.lane_id }}\n\nModule: {{ $json.module }}\nSubnet: {{ $json.subnet }}\nGateway: {{ $json.gateway }}\n\nCreated at: {{ $json.created_at }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2016,
        0
      ],
      "id": "f35eb101-611e-4825-bfea-e781977caade",
      "name": "Clone template",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1792,
        80
      ],
      "id": "d3b0378b-893a-4201-88f5-c7c044e9b213",
      "name": "Merge6",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://100.100.10.10:8006/api2/json/nodes/{{ $json.best_node }}/qemu/{{ Number(`6${$json.vxlan_id}`) }}/config",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "net0",
              "value": "=virtio,bridge={{ $json.vnet_id }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2688,
        144
      ],
      "id": "8e21b4d5-6cbb-4dc6-8b64-b2e77458a276",
      "name": "Attach VNet"
    },
    {
      "parameters": {
        "jsCode": "const map = { '0':'a','1':'b','2':'c','3':'d','4':'e','5':'f','6':'g','7':'h','8':'i','9':'j' };\n\nreturn items.map((item) => {\n  const raw = item.json.vni ?? item.json.vxlan_id ?? item.json.tag;\n\n  // If this item doesn't have a VXLAN ID, just pass it through unchanged\n  if (raw === undefined || raw === null || raw === '') {\n    return item;\n  }\n\n  const vni = String(raw);\n\n  if (!/^\\d{8}$/.test(vni)) {\n    throw new Error(`VXLAN ID must be exactly 8 digits, got: ${vni}`);\n  }\n\n  item.json.vni = Number(vni); // normalize\n  item.json.vnet_id = vni.split('').map(d => map[d]).join('');\n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2016,
        288
      ],
      "id": "810df033-b420-4120-a1a4-cc535b5d9a2d",
      "name": "Transform VXLAN ID to uniqie ID"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2240,
        144
      ],
      "id": "5412c805-8eb7-479e-8818-50aa1676db0c",
      "name": "Merge8"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2464,
        144
      ],
      "id": "ae0d9b73-e79f-4e25-aead-f1de1e85bcef",
      "name": "Wait",
      "webhookId": "e0bda709-7a69-4ce7-aefa-626ada44dcfc"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://100.100.10.10:8006/api2/json/nodes/{{ $json.best_node }}/qemu/{{ Number(`6${$json.vxlan_id}`) }}/status/start",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3200,
        304
      ],
      "id": "e654faef-a6c7-4e4c-92af-69430090021a",
      "name": "Start VM"
    },
    {
      "parameters": {
        "amount": 2.5
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2976,
        304
      ],
      "id": "57dc7674-138d-445b-ab79-f21bde59c024",
      "name": "Wait1",
      "webhookId": "afddeb8b-1c2f-4d9a-9f5c-98be445fa540"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://100.100.10.10:8006/api2/json/nodes/{{ $item(\"0\").$node[\"Loop Over Items\"].json[\"node_name\"] }}/qemu/{{ $json.vmid }}/clone",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "newid",
              "value": "={{ Number(`6${$json.vxlan_id}`) }}"
            },
            {
              "name": "name",
              "value": "={{ $json.challenge_key }}"
            },
            {
              "name": "full",
              "value": "1"
            },
            {
              "name": "target",
              "value": "={{ $json.best_node }}"
            },
            {
              "name": "description",
              "value": "=Challenge: {{ $json.challenge_key }}\nUser ID: {{ $json.user_id }}\nLane ID: {{ $json.lane_id }}\n\nModule: {{ $json.module }}\nSubnet: {{ $json.subnet }}\nGateway: {{ $json.gateway }}\n\nCreated at: {{ $json.created_at }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2608,
        400
      ],
      "id": "b2ba6ed6-81aa-4d6d-9e28-b9d1abd62662",
      "name": "Deploy lane gateway",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "errorMessage": "Unexpected error – Network error."
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        2272,
        656
      ],
      "id": "28417cdd-cd4f-4b73-a0a6-579fbaefeb0a",
      "name": "SDN error"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "user_id": "7d0d81db-1fca-4641-b65f-181bb9d7c8d1",
          "challenge_key": "metasploitable2-basic",
          "event_id": null
        }
      }
    ]
  },
  "connections": {
    "Call 'UUID to VXLAN'": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Query lane ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Determine if Module is Installed": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Merge7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          },
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Insert active lane",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Proxmox Cluster Detail Request'": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge4": {
      "main": [
        [
          {
            "node": "Add module name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Provision/Update Proxmox SDN VNet'": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Determine if Module is Installed",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "Call 'User Validation'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If template is installed/user_id is valid": {
      "main": [
        [
          {
            "node": "Query challenge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call 'UUID to VXLAN'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Template does not exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query challenge": {
      "main": [
        [
          {
            "node": "Request available nodes",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Query lane ID": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add module name": {
      "main": [
        [
          {
            "node": "Merge6",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call 'Provision/Update Proxmox SDN VNet'",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge5",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge5": {
      "main": [
        [
          {
            "node": "Call 'Provision/Update Proxmox SDN Subnet'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Provision/Update Proxmox SDN Subnet'": {
      "main": [
        [
          {
            "node": "Reload Proxmox SDN",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SDN error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert active lane": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call 'Proxmox Cluster Detail Request'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'User Validation'": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "User error validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge7": {
      "main": [
        [
          {
            "node": "If template is installed/user_id is valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge7",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Lane already active",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request available nodes": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If template_vmid is found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Loop error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If template_vmid is found": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Merge6",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge6": {
      "main": [
        [
          {
            "node": "Clone template",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge8",
            "type": "main",
            "index": 0
          },
          {
            "node": "Transform VXLAN ID to uniqie ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge8": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform VXLAN ID to uniqie ID": {
      "main": [
        [
          {
            "node": "Merge8",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Attach VNet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Start VM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "1865f628-eabd-46e3-b741-fa24fde18445",
  "meta": {
    "instanceId": "8bfcbc86985d5ca21643a7752bbd06bdbdf7e70892c47550807b83814d7abe58"
  },
  "id": "rAvsK30hKoRruoIc",
  "tags": [
    {
      "updatedAt": "2026-04-11T09:14:05.084Z",
      "createdAt": "2026-04-11T09:14:05.084Z",
      "id": "w4dmLd8w3tCLBCO8",
      "name": "Crucible"
    }
  ]
}