config/n8n/workflows/Deploy Crucible Lane.json
{
  "name": "Deploy Crucible Lane",
  "nodes": [
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "zLwgaMQVwnH1y8MJ",
          "mode": "list",
          "cachedResultUrl": "/workflow/zLwgaMQVwnH1y8MJ",
          "cachedResultName": "UUID to VXLAN"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "user_id": "={{ $json.user_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        560,
        752
      ],
      "id": "061382e4-46d5-4f93-92b3-b4b70ca60240",
      "name": "Call 'UUID to VXLAN'",
      "alwaysOutputData": false,
      "executeOnce": true,
      "notesInFlow": true
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -336,
        1376
      ],
      "id": "a331ac52-c752-4d45-a665-c2550cf299ab",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT EXISTS (\n  SELECT 1\n  FROM module\n  WHERE key = 'crucible'\n) AS is_installed;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -560,
        1232
      ],
      "id": "fdfb355f-36c4-4e43-938e-99a41fe4f606",
      "name": "Determine if Module is Installed",
      "credentials": {
        "postgres": {
          "id": "VFnVW5xU3IWaGUyr",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1008,
        1024
      ],
      "id": "bd735564-e611-4e86-9e49-6a79a3433364",
      "name": "Merge1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1680,
        1040
      ],
      "id": "be74e089-5b5a-483b-86ff-7189efce31bd",
      "name": "Merge2"
    },
    {
      "parameters": {
        "path": "6bcb6b80-01d9-41a4-86e5-c0747fef50db",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -784,
        1520
      ],
      "id": "89b2af0e-fdfa-497a-8ec7-4e53d7915272",
      "name": "Webhook",
      "webhookId": "6bcb6b80-01d9-41a4-86e5-c0747fef50db"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1232,
        704
      ],
      "id": "9c3ca5a0-b019-4c6f-9e71-ead4720c0ea5",
      "name": "Merge3"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "pMEnvE2s18s5WntT",
          "mode": "list",
          "cachedResultUrl": "/workflow/pMEnvE2s18s5WntT",
          "cachedResultName": "Proxmox Cluster Detail Request"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1680,
        656
      ],
      "id": "cb8703a3-33f7-4271-b992-9b80e3a14087",
      "name": "Call 'Proxmox Cluster Detail Request'"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1904,
        944
      ],
      "id": "0edaf620-fafe-4130-aaf8-554761fdc655",
      "name": "Merge4"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://100.100.10.10:8006/api2/json/cluster/sdn",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3024,
        1136
      ],
      "id": "021d28bb-379e-4cde-9a48-c0ddd9ec5193",
      "name": "Reload Proxmox SDN",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ZLI3QRgLUidNH8Sw",
          "name": "Proxmox API Header Token"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "SmTjDiDlvMulHuE3",
          "mode": "list",
          "cachedResultUrl": "/workflow/SmTjDiDlvMulHuE3",
          "cachedResultName": "Provision/Update Proxmox SDN VNet"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2320,
        1104
      ],
      "id": "c5124aff-ad4a-4615-a928-015f5df4349b",
      "name": "Call 'Provision/Update Proxmox SDN VNet'",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "5fv7EhGFTnKPYLSM",
          "mode": "list",
          "cachedResultUrl": "/workflow/5fv7EhGFTnKPYLSM",
          "cachedResultName": "Provision/Update Proxmox SDN Subnet"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2800,
        1136
      ],
      "id": "3c530399-a736-4cb3-af94-ae09b2be8ed7",
      "name": "Call 'Provision/Update Proxmox SDN Subnet'",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "6e94d271-5b70-45c7-a8f3-146b9a307467",
              "leftValue": "={{ $json.is_installed }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "1c12a2fc-179c-45ac-85b7-f27bf01f9789",
              "leftValue": "={{ $json.user_id.length }}",
              "rightValue": "=36",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        336,
        1520
      ],
      "id": "266ec92c-1073-432f-8982-5be6ce907d57",
      "name": "If template is installed/user_id is valid"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  challenge_id,\n  challenge_key,\n  name,\n  spec,\n  difficulty\nFROM crucible_challenge\nWHERE challenge_key = $1\n  AND status = 'active';",
        "options": {
          "queryReplacement": "={{$json[\"challenge_key\"]}}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        560,
        1424
      ],
      "id": "d9db0906-5832-46bc-a13f-fa09164f4f92",
      "name": "Query challenge",
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "VFnVW5xU3IWaGUyr",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT lane_id\nFROM public.crucible_lane\nWHERE vxlan_id = {{ $json.vxlan_id }}\nLIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        784,
        656
      ],
      "id": "814dd87e-9695-47a6-a3bc-27fdb141bee0",
      "name": "Query lane ID",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "VFnVW5xU3IWaGUyr",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b41ae05f-6168-44b9-9709-2160831adc22",
              "name": "module",
              "value": "crucible",
              "type": "string"
            },
            {
              "id": "5215d43f-912b-4a4e-a3f6-9d6393b8d817",
              "name": "subnet",
              "value": "100.102.0.0/28",
              "type": "string"
            },
            {
              "id": "d61f90a6-501a-4059-98fd-d60288ddd90b",
              "name": "gateway",
              "value": "100.102.0.1",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2128,
        944
      ],
      "id": "ca97da7c-a3a7-434b-b566-73bfb49d724b",
      "name": "Add module name"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2576,
        1136
      ],
      "id": "24c50e81-1871-4f9a-b9ad-857ff3f66855",
      "name": "Merge5"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "N6XNdWnEX4Ot9YPW",
          "mode": "list",
          "cachedResultUrl": "/workflow/N6XNdWnEX4Ot9YPW",
          "cachedResultName": "User Validation"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "user_id": "={{ $json.user_id }}"
          },
          "matchingColumns": [
            "user_id"
          ],
          "schema": [
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -560,
        1712
      ],
      "id": "0057c619-fc26-4787-a62c-59e0d516a2cf",
      "name": "Call 'User Validation'"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "crucible_lane",
          "mode": "list",
          "cachedResultName": "crucible_lane"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "vxlan_id": "={{ $json.vxlan_id }}",
            "user_id": "={{ $json.user_id }}",
            "status": "deploying",
            "challenge_id": "={{ $json.challenge_id }}",
            "config": "{}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "lane_id",
              "displayName": "lane_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "event_id",
              "displayName": "event_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "deleted",
                  "value": "deleted"
                },
                {
                  "name": "error",
                  "value": "error"
                },
                {
                  "name": "suspended",
                  "value": "suspended"
                },
                {
                  "name": "active",
                  "value": "active"
                },
                {
                  "name": "deploying",
                  "value": "deploying"
                },
                {
                  "name": "pending",
                  "value": "pending"
                }
              ]
            },
            {
              "id": "vxlan_id",
              "displayName": "vxlan_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "config",
              "displayName": "config",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "team_id",
              "displayName": "team_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "lane_group_id",
              "displayName": "lane_group_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "challenge_id",
              "displayName": "challenge_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1456,
        704
      ],
      "id": "25a3e7da-49e9-476f-9964-7969a09c8a3c",
      "name": "Insert active lane",
      "credentials": {
        "postgres": {
          "id": "VFnVW5xU3IWaGUyr",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ce105039-0a25-49c3-86d2-ae06ef145adb",
              "leftValue": "={{ $json.exists }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "d28cffa3-85f8-4123-9f09-2b7548c4fe84",
              "leftValue": "={{ $json.active }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -336,
        1712
      ],
      "id": "7e5f6a49-2a1b-4584-ab66-68c8d3f98e13",
      "name": "If"
    },
    {
      "parameters": {
        "errorMessage": "Template does not exist."
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        560,
        1616
      ],
      "id": "07f170e0-b9ca-43fd-b658-d659b0992e5c",
      "name": "Template does not exist"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "911771aa-ce1f-422b-8700-e81c11adca37",
              "name": "exists",
              "value": "={{ $json.exists }}",
              "type": "boolean"
            },
            {
              "id": "527da936-1281-4999-9847-b21dcacc04f2",
              "name": "active",
              "value": "={{ $json.active }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -112,
        1520
      ],
      "id": "b7b25890-2dac-4ae7-8fb6-37522a25cce9",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        112,
        1520
      ],
      "id": "4f4d7c6c-9259-4a58-b471-ddf254a62d50",
      "name": "Merge7"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4e16079a-5864-42a5-aba2-bfdf5ab26e79",
              "leftValue": "={{ $json.lane_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1008,
        656
      ],
      "id": "43a9d4e3-34a5-4f68-8fd6-5c299fa7aeea",
      "name": "If1"
    },
    {
      "parameters": {
        "errorMessage": "Error – Lane already active."
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1232,
        896
      ],
      "id": "9d2622f1-79e7-4e1d-a739-f7e6d230f1db",
      "name": "Lane already active"
    },
    {
      "parameters": {
        "url": "=https://100.100.10.10:8006/api2/json/cluster/config/nodes",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        784,
        1424
      ],
      "id": "439fc515-83a3-4ebd-a731-2e8073ce82a4",
      "name": "Request available nodes",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ZLI3QRgLUidNH8Sw",
          "name": "Proxmox API Header Token"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1008,
        1424
      ],
      "id": "f22cd01b-d572-4afa-8c66-1051a6350d17",
      "name": "Split Out"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "856ad757-bab1-4dbd-8ebf-500999c0a166",
              "name": "node_name",
              "value": "={{ $json.node || $json.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1232,
        1424
      ],
      "id": "e2b45bee-2e7b-4316-81b8-58427f120f1f",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "url": "=https://100.100.10.10:8006/api2/json/nodes/{{ $json.node_name }}/qemu",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1680,
        1472
      ],
      "id": "b9003590-46b0-4603-a68a-a089db9f8dff",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ZLI3QRgLUidNH8Sw",
          "name": "Proxmox API Header Token"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1456,
        1424
      ],
      "id": "c95c02b3-bf63-4979-a228-050f2b646571",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2128,
        1648
      ],
      "id": "54b0685e-6594-4bf3-b0d9-4ab82697d03f",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "errorMessage": "Unexpected error – Loop failure."
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1680,
        1264
      ],
      "id": "833a64ab-bc51-48ce-8299-434051a2211a",
      "name": "Loop error"
    },
    {
      "parameters": {
        "errorMessage": "Unexpected error – user does not exist."
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -112,
        1712
      ],
      "id": "feded191-92e8-4309-baed-eb58d3ad317c",
      "name": "User error validation"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "3448f80b-d3ff-4cdc-919e-88dee8ab720e",
              "leftValue": "={{ $json.data }}",
              "rightValue": "={{ $item(\"0\").$node[\"Query challenge\"].json[\"spec\"][\"vms\"][\"0\"][\"template_key\"] }}",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1904,
        1472
      ],
      "id": "8c6f77a6-52fb-4e31-b707-0b27fc3aff0d",
      "name": "If template_vmid is found",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2128,
        1408
      ],
      "id": "0ccc7e8e-d000-4b64-a5e7-d08df5fa5d86",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "292ce95b-e20e-4e94-998c-090f5ecdf0ae",
              "leftValue": "={{ $json.name }}",
              "rightValue": "={{ $item(\"0\").$node[\"Query challenge\"].json[\"spec\"][\"vms\"][\"0\"][\"template_key\"] }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        2352,
        1408
      ],
      "id": "227f804b-ad65-4cc6-8fe6-b3b4a0f835d1",
      "name": "Filter"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://100.100.10.10:8006/api2/json/nodes/{{ $item(\"0\").$node[\"Loop Over Items\"].json[\"node_name\"] }}/qemu/{{ $json.vmid }}/clone",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "newid",
              "value": "={{ Number(`6${$json.vxlan_id}`) }}"
            },
            {
              "name": "name",
              "value": "={{ $json.challenge_key }}"
            },
            {
              "name": "full",
              "value": "1"
            },
            {
              "name": "target",
              "value": "={{ $json.best_node }}"
            },
            {
              "name": "description",
              "value": "=Challenge: {{ $json.challenge_key }}\nUser ID: {{ $json.user_id }}\nLane ID: {{ $json.lane_id }}\n\nModule: {{ $json.module }}\nSubnet: {{ $json.subnet }}\nGateway: {{ $json.gateway }}\n\nCreated at: {{ $json.created_at }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2800,
        656
      ],
      "id": "07e03467-693b-41f2-b3b0-f667182f7b2b",
      "name": "Clone template",
      "alwaysOutputData": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "ZLI3QRgLUidNH8Sw",
          "name": "Proxmox API Header Token"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2576,
        736
      ],
      "id": "e52cded8-a183-4eb4-9d1e-d191ab5a3b24",
      "name": "Merge6",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://100.100.10.10:8006/api2/json/nodes/{{ $json.best_node }}/qemu/{{ Number(`6${$json.vxlan_id}`) }}/config",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "net0",
              "value": "=virtio,bridge={{ $json.vnet_id }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3472,
        800
      ],
      "id": "d763cf0f-92f1-433d-b69d-6f53f2377897",
      "name": "Attach VNet",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ZLI3QRgLUidNH8Sw",
          "name": "Proxmox API Header Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const map = { '0':'a','1':'b','2':'c','3':'d','4':'e','5':'f','6':'g','7':'h','8':'i','9':'j' };\n\nreturn items.map((item) => {\n  const raw = item.json.vni ?? item.json.vxlan_id ?? item.json.tag;\n\n  // If this item doesn't have a VXLAN ID, just pass it through unchanged\n  if (raw === undefined || raw === null || raw === '') {\n    return item;\n  }\n\n  const vni = String(raw);\n\n  if (!/^\\d{8}$/.test(vni)) {\n    throw new Error(`VXLAN ID must be exactly 8 digits, got: ${vni}`);\n  }\n\n  item.json.vni = Number(vni); // normalize\n  item.json.vnet_id = vni.split('').map(d => map[d]).join('');\n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2800,
        944
      ],
      "id": "f8715996-faa0-46c2-9d4d-066e43877816",
      "name": "Transform VXLAN ID to uniqie ID"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3024,
        800
      ],
      "id": "4e1c80f3-3cb1-434c-a99f-45d55d2e915a",
      "name": "Merge8"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3248,
        800
      ],
      "id": "3ea24a3c-64db-4359-81cd-836c6f4e0352",
      "name": "Wait",
      "webhookId": "e0bda709-7a69-4ce7-aefa-626ada44dcfc"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://100.100.10.10:8006/api2/json/nodes/{{ $json.best_node }}/qemu/{{ Number(`6${$json.vxlan_id}`) }}/status/start",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3984,
        960
      ],
      "id": "0fd9e15b-5754-4f37-a29a-ddc5d8db1e09",
      "name": "Start VM",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ZLI3QRgLUidNH8Sw",
          "name": "Proxmox API Header Token"
        }
      }
    },
    {
      "parameters": {
        "amount": 2.5
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3760,
        960
      ],
      "id": "ecd3ab5b-b494-41c9-8f3f-a2afef6f276b",
      "name": "Wait1",
      "webhookId": "afddeb8b-1c2f-4d9a-9f5c-98be445fa540"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://100.100.10.10:8006/api2/json/nodes/{{ $item(\"0\").$node[\"Loop Over Items\"].json[\"node_name\"] }}/qemu/{{ $json.vmid }}/clone",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "newid",
              "value": "={{ Number(`6${$json.vxlan_id}`) }}"
            },
            {
              "name": "name",
              "value": "={{ $json.challenge_key }}"
            },
            {
              "name": "full",
              "value": "1"
            },
            {
              "name": "target",
              "value": "={{ $json.best_node }}"
            },
            {
              "name": "description",
              "value": "=Challenge: {{ $json.challenge_key }}\nUser ID: {{ $json.user_id }}\nLane ID: {{ $json.lane_id }}\n\nModule: {{ $json.module }}\nSubnet: {{ $json.subnet }}\nGateway: {{ $json.gateway }}\n\nCreated at: {{ $json.created_at }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3392,
        1056
      ],
      "id": "8a6f4792-513c-441f-90af-e5b29db5ab87",
      "name": "Deploy lane gateway",
      "alwaysOutputData": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "ZLI3QRgLUidNH8Sw",
          "name": "Proxmox API Header Token"
        }
      }
    },
    {
      "parameters": {
        "errorMessage": "Unexpected error – Network error."
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        3056,
        1312
      ],
      "id": "0f0f82eb-0ff9-494b-9352-299477d677a6",
      "name": "SDN error"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "user_id": "7d0d81db-1fca-4641-b65f-181bb9d7c8d1",
          "challenge_key": "metasploitable2-basic",
          "event_id": null
        }
      }
    ]
  },
  "connections": {
    "Call 'UUID to VXLAN'": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Query lane ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Determine if Module is Installed": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Merge7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          },
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Insert active lane",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Proxmox Cluster Detail Request'": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge4": {
      "main": [
        [
          {
            "node": "Add module name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Provision/Update Proxmox SDN VNet'": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Determine if Module is Installed",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "Call 'User Validation'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If template is installed/user_id is valid": {
      "main": [
        [
          {
            "node": "Query challenge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call 'UUID to VXLAN'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Template does not exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query challenge": {
      "main": [
        [
          {
            "node": "Request available nodes",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Query lane ID": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add module name": {
      "main": [
        [
          {
            "node": "Merge6",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call 'Provision/Update Proxmox SDN VNet'",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge5",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge5": {
      "main": [
        [
          {
            "node": "Call 'Provision/Update Proxmox SDN Subnet'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Provision/Update Proxmox SDN Subnet'": {
      "main": [
        [
          {
            "node": "Reload Proxmox SDN",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SDN error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert active lane": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call 'Proxmox Cluster Detail Request'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'User Validation'": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "User error validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge7": {
      "main": [
        [
          {
            "node": "If template is installed/user_id is valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge7",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Lane already active",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request available nodes": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If template_vmid is found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Loop error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If template_vmid is found": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Merge6",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Reload Proxmox SDN": {
      "main": [
        []
      ]
    },
    "Merge6": {
      "main": [
        [
          {
            "node": "Clone template",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge8",
            "type": "main",
            "index": 0
          },
          {
            "node": "Transform VXLAN ID to uniqie ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clone template": {
      "main": [
        []
      ]
    },
    "Merge8": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform VXLAN ID to uniqie ID": {
      "main": [
        [
          {
            "node": "Merge8",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Attach VNet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attach VNet": {
      "main": [
        []
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Start VM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "47046cf1-7b45-4d13-98c3-5b6bc91723f4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "74a39c08257f83f18c6fe30fd54fe34d53e2199e9c782bcec1e573e1930630ac"
  },
  "id": "HXhu3ML9Np7VwSRu",
  "tags": [
    {
      "name": "Crucible",
      "id": "yefXO66Do6YJeH8v",
      "updatedAt": "2026-01-07T10:54:21.942Z",
      "createdAt": "2026-01-07T10:54:21.942Z"
    }
  ]
}