config/n8n/workflows/Provision Proxmox SDN Subnet.json
{
  "name": "Provision Proxmox SDN Subnet",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const map = { '0':'a','1':'b','2':'c','3':'d','4':'e','5':'f','6':'g','7':'h','8':'i','9':'j' };\n\nreturn items.map((item) => {\n  const raw = item.json.vni ?? item.json.vxlan_id ?? item.json.tag;\n\n  // If this item doesn't have a VXLAN ID, just pass it through unchanged\n  if (raw === undefined || raw === null || raw === '') {\n    return item;\n  }\n\n  const vni = String(raw);\n\n  if (!/^\\d{8}$/.test(vni)) {\n    throw new Error(`VXLAN ID must be exactly 8 digits, got: ${vni}`);\n  }\n\n  item.json.vni = Number(vni); // normalize\n  item.json.vnet_id = vni.split('').map(d => map[d]).join('');\n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        144
      ],
      "id": "875b1482-49c5-4733-9f13-f7df58358434",
      "name": "Transform VXLAN ID to uniqie ID"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -448,
        144
      ],
      "id": "3ce4483e-2b1b-4f42-b5d3-a8705564b95a",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://100.100.10.10:8006/api2/json/cluster/sdn/vnets/{{ $json.vnet_id }}/subnets",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "subnet",
              "value": "={{ $json.subnet }}"
            },
            {
              "name": "type",
              "value": "subnet"
            },
            {
              "name": "gateway",
              "value": "={{ $json.gateway }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1664,
        160
      ],
      "id": "dcd6c7ff-d968-402a-9231-ca4dfe3d7944",
      "name": "Create subnet"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "150b11f3-39e8-406c-bf03-3b87e1a30251",
              "leftValue": "={{ $json.subnet_exists }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1312,
        112
      ],
      "id": "a662b439-aee4-4665-a2fe-09e457859a07",
      "name": "If subnet exists"
    },
    {
      "parameters": {
        "url": "=https://100.100.10.10:8006/api2/json/cluster/sdn/vnets/{{ $json.vnet_id }}/subnets/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1664,
        16
      ],
      "id": "0e2d910a-52e1-45c8-864e-7a79cd95ba9b",
      "name": "Get subnet again"
    },
    {
      "parameters": {
        "url": "=https://100.100.10.10:8006/api2/json/cluster/sdn/vnets",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        0,
        0
      ],
      "id": "f3b7a5a2-dc07-4638-96f6-fc3d171df239",
      "name": "Get VNets"
    },
    {
      "parameters": {
        "url": "=https://100.100.10.10:8006/api2/json/cluster/sdn/vnets/{{ $json.vnet_id }}/subnets",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        672,
        0
      ],
      "id": "9e8c43c3-2c8b-4796-8427-867c964e13d3",
      "name": "Get subnets"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        224,
        144
      ],
      "id": "028d180a-1a7e-4b4f-8ad0-1d34d739efde",
      "name": "Merge"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b3b74881-6bfa-43fd-a3dd-1e156342bf09",
              "leftValue": "={{ ($json.data ?? []).some(v => String(v.vnet) === String($json.vnet_id)) }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        448,
        144
      ],
      "id": "9d9f73e6-e27c-4cf1-be55-dddc69bf3583",
      "name": "If VNet exists"
    },
    {
      "parameters": {
        "errorMessage": "VNet does not exist!"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        672,
        288
      ],
      "id": "696447e8-cf17-4050-81f5-285ddda16216",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        896,
        112
      ],
      "id": "4be598e8-f693-4e5a-aaaa-2aa9c2d59926",
      "name": "Merge1"
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node (JavaScript)\n// Detect whether the subnet record exists in lane.data for lane.vnet_id\n\nreturn items.map((item) => {\n  const lane = item.json;\n  const rows = Array.isArray(lane.data) ? lane.data : [];\n  const vnetId = lane.vnet_id ?? null;\n\n  // A \"subnet record\" in your feed is the one that actually includes subnet details\n  const subnetRow = vnetId\n    ? rows.find((r) =>\n        r &&\n        r.type === \"vnet\" &&\n        r.vnet === vnetId &&\n        (\n          r.subnet != null ||\n          r.cidr != null ||\n          r.network != null ||\n          r.mask != null ||\n          r.gateway != null ||\n          (Array.isArray(r[\"dhcp-range\"]) && r[\"dhcp-range\"].length > 0)\n        )\n      )\n    : undefined;\n\n  const subnet_exists = !!subnetRow;\n  const current_subnet_name = subnet_exists ? (subnetRow.subnet ?? subnetRow.cidr ?? null) : null;\n\n  // Add results at bottom\n  lane.subnet_exists = subnet_exists;\n  lane.current_subnet_name = current_subnet_name;\n\n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        112
      ],
      "id": "3e0a0d27-d5c8-4a11-85d3-e4ff60d02578",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "data": [
            {
              "alias": "lane-metasploitable2-basic-14141649",
              "digest": "cf6e7bcfcc0a9278bd648b1c23eeea0f2c2636ea",
              "tag": 14141649,
              "type": "vnet",
              "vnet": "bebebgej",
              "zone": "crucible"
            },
            {
              "type": "vnet",
              "vnet": "vnet",
              "digest": "cf6e7bcfcc0a9278bd648b1c23eeea0f2c2636ea",
              "alias": "Cyberhub Test VNet",
              "tag": 10001,
              "zone": "test"
            }
          ],
          "best_node": "cyberhub-node-5",
          "best_node_score": 0.005377114244887155,
          "lane_id": "35eee7b6-7230-497a-bce9-6fb5f78bf875",
          "event_id": null,
          "user_id": "7d0d81db-1fca-4641-b65f-181bb9d7c8d1",
          "name": "Metasploitable 2",
          "status": "deploying",
          "vxlan_id": 14141649,
          "config": {},
          "created_at": "2025-12-10T23:12:01.432Z",
          "updated_at": "2025-12-10T23:12:01.432Z",
          "team_id": null,
          "lane_group_id": null,
          "challenge_id": "564f82a3-f2db-486c-8d5f-1620fe253ab3",
          "challenge_key": "metasploitable2-basic",
          "spec": {
            "vms": [
              {
                "role": "primary",
                "tags": [
                  "single_vm",
                  "metasploitable2-template"
                ],
                "hostname": "metasploitable2-basic.local",
                "template_key": "metasploitable2-template"
              }
            ],
            "flags": [],
            "limits": {
              "max_runtime_minutes": 180,
              "max_concurrent_lanes": 100
            }
          },
          "difficulty": 2,
          "module": "crucible",
          "subnet": "100.102.0.0/28",
          "gateway": "100.102.0.1"
        }
      }
    ]
  },
  "connections": {
    "Transform VXLAN ID to uniqie ID": {
      "main": [
        [
          {
            "node": "Get VNets",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Transform VXLAN ID to uniqie ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If subnet exists": {
      "main": [
        [
          {
            "node": "Get subnet again",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create subnet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get VNets": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get subnets": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "If VNet exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If VNet exists": {
      "main": [
        [
          {
            "node": "Get subnets",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If subnet exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "a826c1c9-e722-4c77-a2a8-277eefcd4f3a",
  "meta": {
    "instanceId": "8bfcbc86985d5ca21643a7752bbd06bdbdf7e70892c47550807b83814d7abe58"
  },
  "id": "ulUF0m5S1PxQZ0B3",
  "tags": [
    {
      "updatedAt": "2026-04-11T09:15:27.244Z",
      "createdAt": "2026-04-11T09:15:27.244Z",
      "id": "M8eppSrucPp9Fy19",
      "name": "Proxmox SDN"
    },
    {
      "updatedAt": "2026-04-11T09:14:29.798Z",
      "createdAt": "2026-04-11T09:14:29.798Z",
      "id": "H8hxFu0vDnVxlk7B",
      "name": "CyberCore"
    }
  ]
}