config/n8n/workflows/Provision Challenge SDN Zone.json
{
  "name": "Provision Challenge SDN Zone",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "=https://100.100.10.10:8006/api2/json/cluster/sdn/vnets",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "vnet",
              "value": "={{ $json.vnet_id }}"
            },
            {
              "name": "zone",
              "value": "={{ $json.module }}"
            },
            {
              "name": "tag",
              "value": "={{ $json.vni }}"
            },
            {
              "name": "alias",
              "value": "=lane-{{ $json.challenge_key }}-{{ $json.vni }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        448,
        80
      ],
      "id": "7b97c82d-33c2-46cb-8d35-a22e5d4be13b",
      "name": "Create VNet"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -832,
        416
      ],
      "id": "a504b29c-233d-41fa-8e05-fc0e214cacd4",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "url": "=https://100.100.10.10:8006/api2/json/cluster/sdn/vnets/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        672,
        0
      ],
      "id": "491d36c2-8954-452c-a02a-c740328cb255",
      "name": "Get VNet again"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -64,
        528
      ],
      "id": "18b17595-6f28-40cd-970c-0844e2fd2d9f",
      "name": "Merge1"
    },
    {
      "parameters": {
        "jsCode": "return items.map((item) => {\n  const list = item.json.data ?? [];          // array from Proxmox\n  const wanted = String(item.json.vnet_id);   // your desired vnet id (bebebgej)\n\n  const match = Array.isArray(list)\n    ? list.find(v => String(v.vnet) === wanted)\n    : null;\n\n  item.json.vnet_current = match ?? null;\n  item.json.vnet_exists = Boolean(match);\n\n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "b1de4efc-f558-436b-aab0-b9f3b10e57c2",
      "name": "Extract desired VNet"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2eea80cf-0a4d-44a7-80bd-eefe63d427ae",
              "leftValue": "={{ $json.vnet_exists }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        224,
        0
      ],
      "id": "ab56c2f7-a526-495a-8ba5-a3de9708408e",
      "name": "If VNet exists"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM crucible_challenge\nWHERE challenge_key = '{{$json[\"challenge_key\"]}}'\nLIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -528,
        416
      ],
      "id": "1ef17b49-7750-43d4-80fc-8de2c9d1e6a6",
      "name": "Query lane details",
      "credentials": {
        "postgres": {
          "id": "VFnVW5xU3IWaGUyr",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://100.100.10.10:8006/api2/json/cluster/sdn/zones",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -320,
        592
      ],
      "id": "b2b8b16a-7712-435e-b002-d0eb3c7fe5d8",
      "name": "Get Zones"
    },
    {
      "parameters": {
        "jsCode": "const map = { '0':'a','1':'b','2':'c','3':'d','4':'e','5':'f','6':'g','7':'h','8':'i','9':'j' };\n\nfunction fnv1a32(str) {\n  let h = 0x811c9dc5;\n  for (let i = 0; i < str.length; i++) {\n    h ^= str.charCodeAt(i);\n    h = (h + ((h << 1) + (h << 4) + (h << 7) + (h << 8) + (h << 24))) >>> 0;\n  }\n  return h >>> 0;\n}\n\nreturn items.map((item) => {\n  const raw = item.json.challenge_id;\n  if (!raw) return item;\n\n  const s = String(raw).toLowerCase().replace(/[^a-z0-9]/g, '');\n  const h = fnv1a32(s);\n\n  // Make exactly 8 digits from the hash by zero-padding\n  const digits = String(h).padStart(8, '0').slice(-8);\n\n  item.json.challenge_id_8 = digits.split('').map(d => map[d]).join('');\n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        288
      ],
      "id": "6413c0b2-32bd-44c5-88fb-3990f867b5d1",
      "name": "Transform challenge_key to unique ID"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "best_node": "cyberhub-node-5",
          "best_node_score": 0.005322838320981665,
          "lane_id": "35eee7b6-7230-497a-bce9-6fb5f78bf875",
          "event_id": null,
          "user_id": "7d0d81db-1fca-4641-b65f-181bb9d7c8d1",
          "name": "Metasploitable 2",
          "status": "deploying",
          "vxlan_id": 14141649,
          "config": {},
          "created_at": "2025-12-10T23:12:01.432Z",
          "updated_at": "2025-12-10T23:12:01.432Z",
          "team_id": null,
          "lane_group_id": null,
          "challenge_id": "564f82a3-f2db-486c-8d5f-1620fe253ab3",
          "challenge_key": "metasploitable2-basic",
          "spec": {
            "vms": [
              {
                "role": "primary",
                "tags": [
                  "single_vm",
                  "metasploitable2-template"
                ],
                "hostname": "metasploitable2-basic.local",
                "template_key": "metasploitable2-template"
              }
            ],
            "flags": [],
            "limits": {
              "max_runtime_minutes": 180,
              "max_concurrent_lanes": 100
            }
          },
          "difficulty": 2,
          "module": "crucible",
          "subnet": "100.102.0.0/28",
          "gateway": "100.102.0.1"
        }
      }
    ]
  },
  "connections": {
    "Create VNet": {
      "main": [
        [
          {
            "node": "Get VNet again",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Query lane details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract desired VNet": {
      "main": [
        [
          {
            "node": "If VNet exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If VNet exists": {
      "main": [
        [
          {
            "node": "Get VNet again",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create VNet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query lane details": {
      "main": [
        [
          {
            "node": "Get Zones",
            "type": "main",
            "index": 0
          },
          {
            "node": "Transform challenge_key to unique ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Zones": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Transform challenge_key to unique ID": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "b16bd4e9-fdad-486c-9a8c-5006a2598048",
  "meta": {
    "instanceId": "8bfcbc86985d5ca21643a7752bbd06bdbdf7e70892c47550807b83814d7abe58"
  },
  "id": "j8skDc6E7HvyoVaw",
  "tags": [
    {
      "updatedAt": "2026-04-11T09:15:27.244Z",
      "createdAt": "2026-04-11T09:15:27.244Z",
      "id": "M8eppSrucPp9Fy19",
      "name": "Proxmox SDN"
    },
    {
      "updatedAt": "2026-04-11T09:14:29.798Z",
      "createdAt": "2026-04-11T09:14:29.798Z",
      "id": "H8hxFu0vDnVxlk7B",
      "name": "CyberCore"
    }
  ]
}