config/n8n/workflows/Provision Proxmox SDN VNet.json
{
  "name": "Provision Proxmox SDN VNet",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "=https://100.100.10.10:8006/api2/json/cluster/sdn/vnets",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "vnet",
              "value": "={{ $json.vnet_id }}"
            },
            {
              "name": "zone",
              "value": "={{ $json.module }}"
            },
            {
              "name": "tag",
              "value": "={{ $json.vni }}"
            },
            {
              "name": "alias",
              "value": "=lane-{{ $json.challenge_key }}-{{ $json.vni }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1344,
        80
      ],
      "id": "c12b834e-1814-47fa-91c5-3737ea89e7e7",
      "name": "Create VNet"
    },
    {
      "parameters": {
        "jsCode": "const map = { '0':'a','1':'b','2':'c','3':'d','4':'e','5':'f','6':'g','7':'h','8':'i','9':'j' };\n\nreturn items.map((item) => {\n  const raw = item.json.vni ?? item.json.vxlan_id ?? item.json.tag;\n\n  // If this item doesn't have a VXLAN ID, just pass it through unchanged\n  if (raw === undefined || raw === null || raw === '') {\n    return item;\n  }\n\n  const vni = String(raw);\n\n  if (!/^\\d{8}$/.test(vni)) {\n    throw new Error(`VXLAN ID must be exactly 8 digits, got: ${vni}`);\n  }\n\n  item.json.vni = Number(vni); // normalize\n  item.json.vnet_id = vni.split('').map(d => map[d]).join('');\n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ],
      "id": "e245390d-2031-4162-842f-c124de84d10d",
      "name": "Transform VXLAN ID to uniqie ID"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "a784e3ca-b620-40fa-9a38-a806a0335fe2",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "url": "=https://100.100.10.10:8006/api2/json/cluster/sdn/vnets",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        448,
        80
      ],
      "id": "9b4d3333-74ab-4b60-a26f-bf74849b0fb8",
      "name": "Get VNet"
    },
    {
      "parameters": {
        "url": "=https://100.100.10.10:8006/api2/json/cluster/sdn/vnets/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1568,
        0
      ],
      "id": "97d381a9-5a12-417d-a1fc-adaf3f2a00d2",
      "name": "Get VNet again"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        672,
        0
      ],
      "id": "144c2665-6323-4700-8210-079b3503a936",
      "name": "Merge1"
    },
    {
      "parameters": {
        "jsCode": "return items.map((item) => {\n  const list = item.json.data ?? [];          // array from Proxmox\n  const wanted = String(item.json.vnet_id);   // your desired vnet id (bebebgej)\n\n  const match = Array.isArray(list)\n    ? list.find(v => String(v.vnet) === wanted)\n    : null;\n\n  item.json.vnet_current = match ?? null;\n  item.json.vnet_exists = Boolean(match);\n\n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        0
      ],
      "id": "ab4b688a-6b0c-499e-aed5-6b54bdb985ba",
      "name": "Extract desired VNet"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2eea80cf-0a4d-44a7-80bd-eefe63d427ae",
              "leftValue": "={{ $json.vnet_exists }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1120,
        0
      ],
      "id": "9a5a63ca-f2ff-42fa-915e-f861b0f8f2b6",
      "name": "If VNet exists"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "best_node": "cyberhub-node-5",
          "best_node_score": 0.005322838320981665,
          "lane_id": "35eee7b6-7230-497a-bce9-6fb5f78bf875",
          "event_id": null,
          "user_id": "7d0d81db-1fca-4641-b65f-181bb9d7c8d1",
          "name": "Metasploitable 2",
          "status": "deploying",
          "vxlan_id": 14141649,
          "config": {},
          "created_at": "2025-12-10T23:12:01.432Z",
          "updated_at": "2025-12-10T23:12:01.432Z",
          "team_id": null,
          "lane_group_id": null,
          "challenge_id": "564f82a3-f2db-486c-8d5f-1620fe253ab3",
          "challenge_key": "metasploitable2-basic",
          "spec": {
            "vms": [
              {
                "role": "primary",
                "tags": [
                  "single_vm",
                  "metasploitable2-template"
                ],
                "hostname": "metasploitable2-basic.local",
                "template_key": "metasploitable2-template"
              }
            ],
            "flags": [],
            "limits": {
              "max_runtime_minutes": 180,
              "max_concurrent_lanes": 100
            }
          },
          "difficulty": 2,
          "module": "crucible",
          "subnet": "100.102.0.0/28",
          "gateway": "100.102.0.1"
        }
      }
    ]
  },
  "connections": {
    "Transform VXLAN ID to uniqie ID": {
      "main": [
        [
          {
            "node": "Get VNet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create VNet": {
      "main": [
        [
          {
            "node": "Get VNet again",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Transform VXLAN ID to uniqie ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get VNet": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Extract desired VNet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract desired VNet": {
      "main": [
        [
          {
            "node": "If VNet exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If VNet exists": {
      "main": [
        [
          {
            "node": "Get VNet again",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create VNet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "600fba34-f1a2-4d1d-9a79-c697d871a8d2",
  "meta": {
    "instanceId": "8bfcbc86985d5ca21643a7752bbd06bdbdf7e70892c47550807b83814d7abe58"
  },
  "id": "E1BwrY3N2rMffsg7",
  "tags": [
    {
      "updatedAt": "2026-04-11T09:15:27.244Z",
      "createdAt": "2026-04-11T09:15:27.244Z",
      "id": "M8eppSrucPp9Fy19",
      "name": "Proxmox SDN"
    },
    {
      "updatedAt": "2026-04-11T09:14:29.798Z",
      "createdAt": "2026-04-11T09:14:29.798Z",
      "id": "H8hxFu0vDnVxlk7B",
      "name": "CyberCore"
    }
  ]
}