config/n8n/workflows/Proxmox Cluster Detail Request.json
{
  "name": "Proxmox Cluster Detail Request",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        192
      ],
      "id": "cd934245-f685-495e-9f16-6acd3eca7d9c",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "// items[0].json comes from the HTTP node\nconst resources = items[0].json.data || [];\n\n// Only online nodes\nconst candidates = resources.filter(\n  (n) => n.type === 'node' && n.status === 'online'\n);\n\nif (candidates.length === 0) {\n  throw new Error('No online Proxmox nodes available');\n}\n\n// Score each node based on CPU + memory usage\n// cpu is already 0–1; mem/maxmem is 0–1\nconst scored = candidates.map((n) => {\n  const cpuRatio = n.cpu ?? 0;\n  const memRatio = n.maxmem ? n.mem / n.maxmem : 0;\n\n  // Weight CPU a bit higher than RAM, tweak as you like\n  const score = 0.6 * cpuRatio + 0.4 * memRatio;\n\n  return {\n    node: n.node,\n    cpu: cpuRatio,\n    mem_ratio: memRatio,\n    score,\n  };\n});\n\n// Lower score = less loaded\nscored.sort((a, b) => a.score - b.score);\nconst best = scored[0];\n\nreturn [\n  {\n    json: {\n      best_node: best.node,\n      best_node_score: best.score,\n      all_nodes: scored,\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        96
      ],
      "id": "68f43ffa-5389-44f5-bbf0-81328c8a7657",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "03748f10-fcec-44e1-8966-b7fde3077853",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d356e2aa-72f5-4a97-88c9-bfee65334cb4",
              "name": "best_node",
              "value": "={{ $json.best_node }}",
              "type": "string"
            },
            {
              "id": "44742347-d009-4a3b-b984-c05dec402325",
              "name": "best_node_score",
              "value": "={{ $json.best_node_score }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        96
      ],
      "id": "330a0bfc-ecb5-40f6-ad42-d51de6eedae1",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "https://100.100.10.10:8006/api2/json/cluster/resources",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "node"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        224,
        96
      ],
      "id": "6fb0806c-93d8-4a5e-bf50-638a8271efc2",
      "name": "GET cluster details"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "GET cluster details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "GET cluster details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET cluster details": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "741403c4-34d6-4599-b70d-343b79c4e350",
  "meta": {
    "instanceId": "8bfcbc86985d5ca21643a7752bbd06bdbdf7e70892c47550807b83814d7abe58"
  },
  "id": "1FGw1KxD6CEJkHgZ",
  "tags": [
    {
      "updatedAt": "2026-04-11T09:14:29.798Z",
      "createdAt": "2026-04-11T09:14:29.798Z",
      "id": "H8hxFu0vDnVxlk7B",
      "name": "CyberCore"
    }
  ]
}