config/n8n/workflows/User Validation.json
{
  "name": "User Validation",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "user_id"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -448,
        144
      ],
      "id": "d434be66-b191-4347-b390-a0af0fb8672a",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT EXISTS (\n  SELECT 1\n  FROM public.app_user\n  WHERE user_id = '{{ $json.user_id }}'\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        0,
        0
      ],
      "id": "6016189f-725b-40fb-a5b7-8beeeb82256b",
      "name": "Check user existence",
      "credentials": {
        "postgres": {
          "id": "VFnVW5xU3IWaGUyr",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM public.app_user\nWHERE user_id = CAST('{{ $json.user_id }}' AS uuid);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -224,
        240
      ],
      "id": "1c3d95e7-5c63-4868-acdd-27db24790d9c",
      "name": "Query user details",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "VFnVW5xU3IWaGUyr",
          "name": "Postgres account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "74afbe51-fe54-4bf2-a35e-39bbbca1dc41",
              "leftValue": "={{ $json.exists }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "eb97326e-65ed-4179-a545-614478535ec8",
              "leftValue": "={{ $json.status }}",
              "rightValue": "active",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        448,
        48
      ],
      "id": "1ecf4a92-82b9-4379-8711-3900cd810882",
      "name": "If user is active"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        224,
        48
      ],
      "id": "19cb79f9-fe0d-4cb2-8978-a7506241af46",
      "name": "Merge"
    },
    {
      "parameters": {
        "errorMessage": "User not active."
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        672,
        48
      ],
      "id": "2f7fe8fd-e82b-4e57-b837-32f69d8a1727",
      "name": "User not active"
    },
    {
      "parameters": {
        "errorMessage": "User not valid."
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        224,
        288
      ],
      "id": "c9fa58ee-7e01-4ed6-86ff-8784abf15bdb",
      "name": "User not valid"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "46f629c3-8160-420d-b2ee-57c5bc3ea044",
              "leftValue": "={{ $json.user_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        0,
        240
      ],
      "id": "83072df6-27ad-4242-af04-cad4d3ed4257",
      "name": "If"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "user_id": "7d0d81db-1fca-4641-b65f-181bb9d7c8d1"
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Query user details",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check user existence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check user existence": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query user details": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "If user is active",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If user is active": {
      "main": [
        [],
        [
          {
            "node": "User not active",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "User not valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "371172c6-43dd-4df0-a07a-f5909705f19d",
  "meta": {
    "instanceId": "8bfcbc86985d5ca21643a7752bbd06bdbdf7e70892c47550807b83814d7abe58"
  },
  "id": "mWolX2wRtxuLXtcb",
  "tags": [
    {
      "updatedAt": "2026-04-11T09:14:29.798Z",
      "createdAt": "2026-04-11T09:14:29.798Z",
      "id": "H8hxFu0vDnVxlk7B",
      "name": "CyberCore"
    }
  ]
}