config/n8n/workflows/UUID to VXLAN.json
{
  "name": "UUID to VXLAN",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "e092513e-7a4c-4851-8584-f95e03f01afb",
      "name": "When clicking ‘Execute workflow’",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Derive a deterministic VXLAN VNI from a UUID\nfunction vxlanFromUuid(uuid) {\n  // Remove dashes\n  const hex = uuid.replace(/-/g, '');\n  // Take the last 6 hex chars = 24 bits (VXLAN space)\n  const slice = hex.slice(-6);\n  let vni = parseInt(slice, 16); // 0..16777215\n\n  if (Number.isNaN(vni)) {\n    throw new Error(`Invalid UUID for VXLAN derivation: ${uuid}`);\n  }\n\n  // Avoid 0\n  if (vni === 0) vni = 1;\n  // Keep in a safe upper bound just in case\n  if (vni > 16000000) vni = vni % 16000000 || 1;\n\n  return vni;\n}\n\n// n8n requires an array of { json: {...} }\nreturn items.map(item => {\n  const j = item.json;\n  const uuid = j.user_id;\n\n  const vxlan_id = vxlanFromUuid(uuid);\n\n  return {\n    json: {\n      ...j,\n      vxlan_id,\n    },\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        96
      ],
      "id": "4aa5518f-ba9d-4dac-bc08-82cf3552f7cf",
      "name": "Transorm UUID to VXLAN"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT user_id\nFROM app_user\nWHERE username = '{{$json.username}}'\n  AND active = true\n  AND status = 'active';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        224,
        0
      ],
      "id": "2c79e691-db0d-4268-9a7c-ca0e8b578c3c",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "VFnVW5xU3IWaGUyr",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "user_id"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        224,
        192
      ],
      "id": "60cb0213-7f59-481d-b358-e86cb1819a6a",
      "name": "When Executed by Another Workflow"
    }
  ],
  "pinData": {
    "When clicking ‘Execute workflow’": [
      {
        "json": {
          "username": "jdirt0"
        }
      }
    ]
  },
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Transorm UUID to VXLAN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Transorm UUID to VXLAN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "f88cc929-6c1e-498c-99f1-d2980ec48613",
  "meta": {
    "instanceId": "8bfcbc86985d5ca21643a7752bbd06bdbdf7e70892c47550807b83814d7abe58"
  },
  "id": "FemsznQN9MkCcVlQ",
  "tags": [
    {
      "updatedAt": "2026-04-11T09:15:27.244Z",
      "createdAt": "2026-04-11T09:15:27.244Z",
      "id": "M8eppSrucPp9Fy19",
      "name": "Proxmox SDN"
    },
    {
      "updatedAt": "2026-04-11T09:14:29.798Z",
      "createdAt": "2026-04-11T09:14:29.798Z",
      "id": "H8hxFu0vDnVxlk7B",
      "name": "CyberCore"
    }
  ]
}